"""Generated database access code."""

{% if has_enums %}
from .enums import (
{% for enum in enums %}
    {{ enum }},
{% endfor %}
)
{% endif %}
{% for table in tables %}
from .{{ table.module_name }} import {{ table.record_name }}
{% endfor %}

__all__ = [
{% if has_enums %}
{% for enum in enums %}
    "{{ enum }}",
{% endfor %}
{% endif %}
{% for table in tables %}
    "{{ table.record_name }}",
{% endfor %}
]
